
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}
#description-container {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#post-card {
    border: 1px solid black;
}

/*limit size of cropper tool*/
img {
    display: block;
    max-width: 40vw;
    max-height: 40vh;
}

#card-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#description-container {
    max-width: 40vw;
}
#cropped-preview {
    max-width: 50px;
}

#cropped-preview canvas {
    width: 100%; /* Set canvas width to 100% of its parent's width */
    height: 100%; /* Set canvas height to 100% of its parent's height */
}

#post-card {
    max-height: 70vh;
    max-width: 40vw;
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
    #container {
        flex-direction: column;
    }
    #description-container {
        margin-top: 1em;
    }
}