
body {
    font-family: Arial, sans-serif;
    /*height: 100vh;*/
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

#creator-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#post-card {
    border: 1px solid black;
    max-width: 80vw;
}

#description-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#description-container label {
    margin-top: 1rem;
}
/*limit size of cropper tool*/
#profile-image {
    display: block;
    max-width: 80vw;
}


#dm-logo {
    max-width: 3rem;
}

.row-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}